@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    box-sizing: border-box;
    @apply bg-gray-200;
    @apply text-gray-300;
    @apply border-gray-400;
    @apply text-inherit;

  }
  
  div{
    @apply bg-gray-200;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    
    
  }
  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply m-4

  }
  ul {
    @apply flex;
    @apply flex-col;
  }
  li {
    @apply mt-1;
    @apply mx-1;
    @apply rounded-lg;
    @apply shadow-inner;
    @apply shadow-md;
    @apply shadow-zinc-400;
    @apply hover:bg-gray-300;
    
  }
  button {
    @apply flex;
    @apply flex-row;
  }
  img {
    @apply w-16;
    @apply rounded-lg;
    @apply bg-inherit;
  }

  
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
